/**************************
MEDIA QUERY MANAGER
0 - 600px:      Phone                   phone
600 - 900px:    Tablet Portrait         tab-port
900 - 1200px:   Tablet Landscape        tab-land
[1200 - 1800]:  Normal Styles Apply
1800px + :      Big Desktop             big-desk

ORDER: Base + typography > general layout + grid > payge layout > components

1em = 16px
***************************/
* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 43.75%; } }

body {
  background-color: #fff; }

html {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.15; }

.paragraph {
  font-size: 2.5rem;
  font-weight: 700; }

.heading-primary {
  font-size: 8rem;
  font-weight: 300;
  text-transform: uppercase; }

.heading-secondary {
  font-size: 5rem;
  font-weight: 400;
  text-transform: uppercase; }

.heading-tertiary {
  font-size: 3.5rem;
  font-weight: 600;
  text-transform: uppercase; }

.heading-quaternary {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase; }

.u-margin-top-small {
  margin-top: 3rem !important; }

.u-margin-top-big {
  margin-top: 10rem !important; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 5rem !important; }

.selected {
  background-color: rgba(67, 89, 86, 0.5) !important; }

.btn:link, .btn:visited, .btn__inverted:link, .btn__inverted:visited {
  text-decoration: none;
  font-size: 2rem;
  padding: 1.5rem 2rem;
  background-color: #F0BA70;
  color: #435956;
  border-radius: .2rem;
  transition: all .3s; }

.btn:active, .btn:hover {
  background-color: #435956;
  color: #F0BA70; }

.btn__inverted:link, .btn__inverted:visited {
  background-color: #435956;
  color: #F0BA70;
  border: 2px solid transparent; }

.btn__inverted:active, .btn__inverted:hover {
  background-color: #F0BA70;
  color: #435956;
  border: 2px solid #435956; }

.instagram__container {
  display: flex; }

.instagram__img {
  width: 20%; }

.instagram__tags {
  padding: 2rem 0;
  background-color: #435956;
  display: flex;
  justify-content: center; }
  .instagram__tags-text {
    font-size: 3rem;
    color: #F0BA70; }
    .instagram__tags-text:not(:last-child) {
      margin-right: 5rem; }

.footer {
  padding: 10rem 0;
  background-color: #1D1D1E;
  color: #F0BA70;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .footer__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .footer__info-box {
      display: flex; }
      .footer__info-box--1 {
        margin-bottom: 2rem; }
    .footer__info-icon {
      height: 2rem;
      width: 2rem;
      margin-right: 2rem; }
    .footer__info-text {
      font-size: 1.8rem; }
  .footer__social {
    margin-top: 3.5rem; }
    .footer__social-list {
      display: flex; }
    .footer__social-item {
      list-style: none;
      transition: all .3s; }
      .footer__social-item:not(:last-child) {
        margin-right: 2rem; }
      .footer__social-item:hover {
        transform: scale(1.8); }
    .footer__social-link {
      text-decoration: none;
      height: 2rem;
      width: 2rem; }
    .footer__social-icon {
      height: 2rem;
      width: 2rem; }
  .footer__img {
    height: 20rem;
    width: 23rem;
    align-self: center; }
  .footer__subscribe {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center; }
    .footer__subscribe-text {
      font-size: 1.5rem; }
      .footer__subscribe-text:first-of-type {
        margin-top: 2rem; }
      .footer__subscribe-text:not(:last-of-type) {
        margin-bottom: .5rem; }
    .footer__subscribe-form {
      margin-top: 2rem;
      display: flex; }
    .footer__subscribe-input {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #435956;
      color: #F0707B;
      font-size: 1.6rem;
      font-style: italic; }
      .footer__subscribe-input:focus {
        outline: none; }
    .footer__subscribe-submit {
      background-color: transparent;
      color: #F0707B;
      border: 2px solid #435956;
      padding: 1rem 1.5rem; }

.nav {
  background-color: #fff;
  padding-right: 5rem;
  display: flex;
  align-items: center; }
  .nav__img {
    height: 11rem;
    width: 14rem; }
  .nav__list {
    display: flex;
    margin-left: 5rem; }
  .nav__item {
    list-style: none; }
    .nav__item:not(:last-child) {
      margin-right: 1rem; }
  .nav__link:link, .nav__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    color: #435956;
    padding: 1.5rem 2rem;
    transition: all .3s;
    border-radius: .2rem; }
  .nav__link--1:link, .nav__link--1:visited {
    color: #F0707B;
    font-weight: 500; }
  .nav__link:hover, .nav__link:active {
    color: #609B9A;
    background-color: #C7D790; }
  .nav__cart {
    margin-left: auto; }
    .nav__cart-icon {
      height: 5rem;
      width: 5rem; }

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 999; }

.delivery-header {
  height: 100vh;
  background-color: #F0BA70;
  color: #435956;
  display: flex;
  flex-direction: column; }
  .delivery-header__box {
    display: flex;
    flex: 1; }
  .delivery-header__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .delivery-header__text p {
      font-weight: 400; }
  .delivery-header__safety-list {
    margin-bottom: 5rem;
    display: flex; }
  .delivery-header__safety-item {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .delivery-header__safety-item:not(:last-child) {
      margin-right: 5rem; }
  .delivery-header__safety-icon {
    height: 10rem;
    width: 10rem;
    margin-bottom: 2rem; }
  .delivery-header__safety-text {
    font-size: 2rem;
    font-weight: 600; }
  .delivery-header__img {
    background-image: url(../img/delivery.jpg);
    background-size: cover;
    background-position: bottom;
    flex: 0 0 50%; }

.header {
  height: 85vh;
  color: #fff;
  display: flex;
  flex-direction: column; }
  .header__banner {
    padding: 5rem 0;
    padding-left: 15rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/kombucha-3.jpg);
    background-size: cover;
    background-position: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
    .header__banner h1 {
      width: 50%;
      margin-bottom: 2rem; }
    .header__banner p {
      width: 40%;
      margin-bottom: 4rem; }
  .header__list {
    margin-bottom: 4rem;
    display: flex; }
  .header__item {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .header__item:not(:last-child) {
      margin-right: 4rem; }
  .header__circle {
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    background-color: #fff;
    border: 0.2rem solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .header__circle-svg {
      height: 6rem;
      width: 6rem;
      margin-bottom: .5rem; }
    .header__circle-text {
      color: #000;
      font-size: 1.6rem; }

.section-mission {
  padding: 11rem 0 8rem 0;
  color: #435956;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .section-mission h2 {
    margin-bottom: 2rem; }
  .section-mission p {
    text-transform: uppercase;
    text-align: center;
    width: 50%; }

.section-product {
  padding: 10rem 0;
  background-color: #F0BA70;
  color: #435956;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .section-product__box {
    display: flex;
    margin-top: 10rem; }
  .section-product__container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .section-product__container:not(:last-child) {
      margin-right: 20rem; }
  .section-product__img {
    height: 80%;
    margin-bottom: 2rem; }
  .section-product__heading {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #402E32; }
  .section-product__text {
    text-align: center;
    width: 70%;
    font-size: 2rem;
    color: #005B4A; }

.section-reason {
  display: flex;
  padding: 8rem 0; }
  .section-reason__box {
    width: 50%;
    display: flex;
    justify-content: center; }
    .section-reason__box--1 {
      margin-right: 3rem;
      justify-content: flex-end; }
    .section-reason__box--2 {
      margin-left: 3rem;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center; }
      .section-reason__box--2 > *:not(:last-child) {
        margin-bottom: 2rem; }
      .section-reason__box--2 p {
        width: 70%;
        font-size: 2rem;
        font-weight: 400; }
  .section-reason__img {
    width: 80%; }

.shop-header {
  display: flex;
  flex-direction: column; }

.shop-box {
  display: flex; }
  .shop-box__img {
    width: 50%;
    padding: 7rem;
    background-image: linear-gradient(132.5deg, #435956 50%, #F0BA70 50%); }
  .shop-box__buy {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #402E32; }
  .shop-box__flavors {
    display: flex; }
    .shop-box__flavors-box {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: .5rem; }
      .shop-box__flavors-box:not(:last-child) {
        margin-right: 5rem; }
      .shop-box__flavors-box:hover {
        background-color: rgba(67, 89, 86, 0.2); }
    .shop-box__flavors-icons {
      height: 10rem;
      width: 10rem;
      margin-bottom: 2rem; }
    .shop-box__flavors-mix {
      display: flex; }
    .shop-box__flavors-text {
      font-size: 2rem; }
    .shop-box__flavors-amount {
      margin-top: 1rem;
      font-size: 2rem; }
  .shop-box__ingredients {
    margin: 3rem 0 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .shop-box__ingredients-heading {
      font-size: 3rem;
      font-weight: 400; }
    .shop-box__ingredients-text {
      font-size: 2rem;
      align-self: flex-start; }
  .shop-box__amount {
    margin-bottom: 5rem;
    display: flex; }
    .shop-box__amount-box {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .shop-box__amount-box:not(:last-child) {
        margin-right: -5rem; }
    .shop-box__amount-count {
      display: flex;
      margin-bottom: 1rem; }
    .shop-box__amount-text {
      font-size: 2.3rem;
      margin-bottom: 1.5rem; }
      .shop-box__amount-text:not(:last-child) {
        margin-right: 1rem; }
    .shop-box__amount-order {
      display: flex;
      justify-content: center; }
    .shop-box__amount-input {
      border: none;
      border: 2px solid #435956;
      width: 30%;
      font-size: 1.8rem;
      text-align: center;
      padding: 1rem;
      -moz-appearance: textfield; }
      .shop-box__amount-input:focus {
        outline: none; }
      .shop-box__amount-input::-webkit-inner-spin-button, .shop-box__amount-input::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0; }
    .shop-box__amount-increase, .shop-box__amount-decrease {
      font-size: 1.8rem;
      border: 2px solid #435956;
      padding: 1rem;
      cursor: pointer;
      transition: all .2s;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    .shop-box__amount-increase:hover, .shop-box__amount-decrease:hover {
      background-color: rgba(67, 89, 86, 0.2); }
    .shop-box__amount-increase:active, .shop-box__amount-decrease:active {
      background-color: rgba(67, 89, 86, 0.5); }
    .shop-box__amount-increase {
      border-left: none; }
    .shop-box__amount-decrease {
      border-right: none; }

.what-is-kombucha-header {
  height: 85vh;
  color: #fff;
  display: flex;
  flex-direction: column; }
  .what-is-kombucha-header__banner {
    padding: 5rem 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/market.jpg);
    background-size: cover;
    background-position: bottom;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .what-is-kombucha-header h1 {
    font-weight: 700; }
  .what-is-kombucha-header p {
    margin-top: 3rem;
    line-height: 2;
    font-weight: 500;
    text-align: center;
    width: 50%; }

.what-is-kombucha-ingredients {
  padding: 10rem 0;
  color: #435956;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .what-is-kombucha-ingredients__paragraph {
    margin-top: 1.5rem;
    width: 60%;
    text-align: center;
    line-height: 2; }
  .what-is-kombucha-ingredients__list {
    margin: 5rem 0;
    display: flex; }
  .what-is-kombucha-ingredients__item {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .what-is-kombucha-ingredients__item:not(:last-child) {
      margin-right: 5rem; }
    .what-is-kombucha-ingredients__item span {
      -webkit-mask-size: cover;
      mask-size: cover;
      background-color: #609B9A;
      height: 15rem;
      width: 15rem; }
  .what-is-kombucha-ingredients__icon--sugar {
    -webkit-mask: url(../img/sugar.svg);
    mask: url(../img/sugar.svg); }
  .what-is-kombucha-ingredients__icon--water {
    -webkit-mask: url(../img/water.svg);
    mask: url(../img/water.svg); }
  .what-is-kombucha-ingredients__icon--tea {
    -webkit-mask: url(../img/tea.svg);
    mask: url(../img/tea.svg); }
  .what-is-kombucha-ingredients__icon--fruits {
    -webkit-mask: url(../img/fruits.svg);
    mask: url(../img/fruits.svg); }
  .what-is-kombucha-ingredients__icon--scoby {
    -webkit-mask: url(../img/scoby.svg);
    mask: url(../img/scoby.svg); }
  .what-is-kombucha-ingredients__text {
    font-size: 3.5rem;
    margin-top: 3rem; }

.what-is-kombucha-benefits {
  height: 90vh;
  background-color: #435956;
  color: #F0BA70;
  display: flex; }
  .what-is-kombucha-benefits__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .what-is-kombucha-benefits__box h2 {
      width: 70%;
      text-align: center; }
    .what-is-kombucha-benefits__box p {
      margin-top: 5rem;
      width: 80%;
      line-height: 2; }
  .what-is-kombucha-benefits__img {
    background-image: url(../img/people-happy.jpg);
    background-size: cover;
    background-position: center;
    flex: 0 0 50%; }

.what-is-kombucha-process {
  height: 100vh;
  background-color: #609B9A;
  color: #402E32;
  display: flex; }
  .what-is-kombucha-process__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .what-is-kombucha-process__box h2 {
      width: 70%;
      text-align: center; }
    .what-is-kombucha-process__box p {
      margin-top: 5rem;
      width: 80%;
      line-height: 2; }
  .what-is-kombucha-process__img {
    background-image: url(../img/kombucha-5.jpg);
    background-size: cover;
    background-position: center;
    flex: 0 0 50%; }

.what-is-kombucha-promo {
  padding: 5rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .what-is-kombucha-promo__logo {
    height: 25rem;
    width: 30rem;
    margin-bottom: 3rem; }
  .what-is-kombucha-promo__text {
    text-align: center;
    font-size: 5rem;
    width: 50%;
    margin-bottom: 5rem; }
    .what-is-kombucha-promo__text span {
      color: #F0707B;
      font-weight: 700; }
