.footer {
    padding: 10rem 0;
    background-color: #1D1D1E;
    color: $color-yellow;

    display: flex;
    align-items: center;
    justify-content: space-around;

    @include respond(phone) {
        flex-direction: column;
        padding: 5rem 0;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        @include respond(phone) {
            order: 2;   
        }

        &-box {
            display: flex;

            &--1 {
                margin-bottom: 2rem;
            }
        }
        
        &-icon {
            height: 2rem;
            width: 2rem;
            margin-right: 2rem;

            @include respond(phone) {
                height: 2.5rem;
                width: 2.5rem;   
            }
        }
        
        &-text {
            font-size: 1.8rem;

            @include respond(phone) {
                font-size: 2.5rem;   
            }
        }
    }

    &__social {
        margin-top: 3.5rem;

        @include respond(phone) {
         order: 3;   
         margin-bottom: 5rem;
         align-self: center;
        }
        
        &-list {
            display: flex;
        }

        &-item {
            list-style: none;
            transition: all .3s;

            &:not(:last-child) {
                margin-right: 2rem;
            }

            &:hover {
                transform: scale(1.8);
            }
        }

        &-link {
            text-decoration: none;
        }

        &-icon {
            height: 2rem;
            width: 2rem;

            @include respond(phone) {
                height: 3rem;
                width: 3rem;   
            }
        }
    }

    &__img {
        height: 20rem;
        width: 23rem;
        align-self: center;

        @include respond(phone) {
            order: 1;  
            margin-bottom: 5rem; 
        }
    }

    &__subscribe {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        @include respond(phone) {
            order: 4;   
        }

        h4 {
            @include respond(phone) {
                font-size: 2.5rem;
                text-align: center;
            }
        }

        &-text {
            font-size: 1.5rem;

            @include respond(phone) {
                font-size: 2rem;  
            }

            &:first-of-type {
                margin-top: 2rem;
            }

            &:not(:last-of-type) {
                margin-bottom: .5rem;
            }
        }

        &-form {
            margin-top: 2rem;

            display: flex;

            @include respond(phone) {
                flex-direction: column;
                margin-top: 3rem;
            }
        }

        &-input {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid $color-blue-dark;
            color: $color-pink;
            font-size: 1.6rem;
            font-style: italic;

            @include respond(phone) {
                font-size: 2.5rem; 
                margin-bottom: 2rem;  
                text-align: center;
            }

            &:focus {
                outline: none;
            }
        }

        &-submit {
            background-color: transparent;
            color: $color-pink;
            border: 2px solid $color-blue-dark;
            padding: 1rem 1.5rem;

            @include respond(phone) {
                font-size: 2.5rem;   
            }
        }
    }
}