.btn {

    &:link,
    &:visited,
    &__inverted:link,
    &__inverted:visited {
        text-decoration: none;
        font-size: 2rem;
        padding: 1.5rem 2rem;
        background-color: $color-yellow;
        color: $color-blue-dark;
        border-radius: .2rem;
        transition: all .3s;
        text-align: center;

        @include respond(phone) {
            font-size: 3rem;
            padding: 2.5rem 3rem;
        }
    }

    &:active,
    &:hover {
        background-color: $color-blue-dark;
        color: $color-yellow;
    }

    &__inverted {

        &:link,
        &:visited {
            background-color: $color-blue-dark;
            color: $color-yellow;
            border: 2px solid transparent;
        }

        &:active,
        &:hover {
            background-color: $color-yellow;
            color: $color-blue-dark;
            border: 2px solid $color-blue-dark;
        }
    }
}