.instagram {
    
    &__container {
        display: flex;
    }

    &__img {
        width: 20%;
    }

    &__tags {
        padding: 2rem 0;
        background-color: $color-blue-dark;

        display: flex;
        justify-content: center;

        @include respond(phone-small) {
            flex-direction: column;     
            align-items: center;  
        }

        &-text {
            font-size: 3rem;
            color: $color-yellow;

            &:not(:last-child) {
                margin-right: 5rem;

                @include respond(phone-small) {
                    margin-right: 0;
                    margin-bottom: 2rem;
                }
            }
        }
    }
}