.header {
    height: 85vh;
    color: #fff;

    display: flex;
    flex-direction: column;

    &__banner {
        padding: 5rem 0;
        padding-left: 15rem;
        background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../img/kombucha-3.jpg);
        background-size: cover;
        background-position: center;
        
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        @include respond(tab-land) {
            padding-left: 10rem;   
        }

        @include respond(tab-port) {
            padding-left: 5rem;  
        }

        @include respond(phone) {
            padding-left: 3rem;   
        }

        h1 {
            width: 50%;
            margin-bottom: 2rem;

            @include respond(tab-port) {
                width: 80%;
            }
        }

        p {
            width: 40%;
            margin-bottom: 4rem;

            @include respond(tab-port) {
                width: 60%;
            }
        }
    }

    &__list {
        margin-bottom: 4rem;
        display: flex;

        @include respond(phone-small) {
            flex-wrap: wrap;      
        }
    }

    &__item {
        font-size: 1.8rem;
        
        display: flex;
        flex-direction: column;
        align-items: center;

        &:not(:last-child) {
            margin-right: 4rem;
        }
    }

    &__circle {
        height: 13rem;
        width: 13rem;
        border-radius: 50%;
        background-color: #fff;
        border: 0.2rem solid #000;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-svg {
                height: 6rem;
                width: 6rem;
                margin-bottom: .5rem;
            }

        &-text {
            color: #000;
            font-size: 1.6rem;
        }
    }
}

.section-mission {
    padding: 8rem 0;
    color: $color-blue-dark;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(tab-land) {
        padding: 5rem 0;
    }

    h2 {
        margin-bottom: 2rem;
    }

    p {
        text-transform: uppercase;
        text-align: center;
        width: 50%;

        @include respond(tab-port) {
            width: 80%;   
        }
    }
}

.section-product {
    padding: 10rem 0;
    background-color: $color-yellow;
    color: $color-blue-dark;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(tab-land) {
        padding: 8rem 0;
    }

    @include respond(phone) {
        h2 {
            padding: 0 2rem;
            text-align: center;
        }
    }

    &__box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10rem;

        @include respond(tab-land) {
            margin-top: 4rem;
        }

        @include respond(phone) {
            flex-direction: column;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        flex: 0 0 33.333333%;

        &:not(:last-child) {
            margin-right: 5rem;

            @include respond(tab-land) {
                margin-right: 0rem;   
            }

            @include respond(phone) {
                margin-bottom: 5rem;
            }
        }
    }

    &__figure {
        height: 50rem;
    }

    &__img {
        height: 100%;
        margin-bottom: 2rem;
    }

    &__heading {
        font-size: 3rem;
        margin-bottom: 1rem;
        color: $color-brown;
        text-align: center;

        @include respond(tab-land) {
            width: 50%;       
        }

        @include respond(tab-port) {
            width: 100%;
        }

        @include respond(phone) {
            font-size: 4rem;
        }
    }

    &__text {
        text-align: center;
        width: 70%;
        font-size: 2rem;
        color: $color-aqua;

        @include respond(tab-port) {
            width: 100%;            
        }

        @include respond(phone) {
            font-size: 3rem;
            padding: 0 4rem;
        }
    }
}

.section-reason {
    display: flex;
    padding: 8rem 0;

    @include respond(phone) {
        flex-direction: column;
        align-items: center;
        padding: 6rem 0;
    }

    &__box {
        height: auto;
        width: 50%;
        display: flex;
        justify-content: center;

        &--1 {
            margin-right: 3rem;
            justify-content: flex-end;

            @include respond(tab-port) {
                width: 80%;       
                margin-right: 0; 
            }

            @include respond(phone) {
                margin-bottom: 3rem;
            }
        }

        &--2 {
            margin-left: 3rem;

            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            @include respond(phone) {
                margin-left: 0;
                width: 100%;
                align-items: center;
            }

            & > * {

                &:not(:last-child) {
                    margin-bottom: 2rem;
                }
            }

            p {
                width: 70%;
                font-size: 2rem;
                font-weight: 400;

                @include respond(tab-port) {
                    width: 95%;    
                }

                @include respond(phone) {
                    width: 80%;
                    text-align: center;
                }
            }
        }
    }

    &__img {
        width: 80%;

        @include respond(tab-port) {
            width: 95%;            
        }
    }
}