.shop-header {
    display: flex;
    flex-direction: column;
}

.shop-box {
    display: flex;

    @include respond(tab-port) {
        flex-direction: column;
    }

    &__img {
        background-image: url(../img/kombucha-4.jpg);
        background-size: cover;
        background-position: center;
        flex: 0 0 50%;

        @include respond(tab-port) {
            flex: initial;
            height: 65vh;
        }
    }

    &__buy {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $color-brown;

        h1 {
            text-align: center;
            @include respond(tab-land) {
                margin-bottom: 2rem !important;
            }

            @include respond(tab-port) {
                margin-top: 2rem;
            }
        }
    }

    &__flavors {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &-box {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: .5rem;

            @include respond(tab-land) {
                margin-bottom: 2rem;
            }

            &:not(:last-child) {
                margin-right: 5rem;
            }

            &:hover {
                background-color: rgba(67, 89, 86, .2);
            }
        }

        &-icons {
            height: 10rem;
            width: 10rem;
            margin-bottom: 2rem;
        }

        &-mix {
            display: flex;
        }

        &-text {
            font-size: 2rem;
        }

        &-amount {
            margin-top: 1rem;
            font-size: 2rem;
        }
    }

    &__ingredients {
        margin: 3rem 0 5rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include respond(tab-land) {
            margin-top: 0;
        }

        &-heading {
            font-size: 4rem;
            font-weight: 400;
        }

        &-text {
            font-size: 3rem;
            align-self: center;
            text-align: center;
            padding: 0 1rem;
        }
    }

    &__pricing{

        &-list {
            list-style: none;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        &-item {
            font-size: 3rem;
            background-color: $color-blue-dark;
            color: $color-yellow;
            padding: 2rem;
            border-radius: .5rem;
            text-align: center;
            margin-bottom: 3rem;

            &:not(:last-child) {
                margin-right: 3rem;
            }
        }
    }

    &__contact {
        margin-bottom: 2rem;

        display: flex;
        flex-direction: column;
        align-items: center;

        &-text {
            font-size: 3.5rem;
            text-transform: uppercase;
            text-align: center;
            border-bottom: 2px solid currentColor;
            margin-bottom: 3rem;
        }

        &-list {
            list-style: none;
            display: flex;

            @include respond(tab-land) {
                flex-direction: column;
            }
        }

        &-item {
            font-size: 2.5rem;
            text-align: center;

            display: flex;
            align-items: center;

            &:not(:last-child) {
                margin-right: 3rem;

                @include respond(tab-land) {
                    margin-bottom: 2rem;
                    margin-right: 0;
                }
            }
        }

        span {
            -webkit-mask-size: cover;
            mask-size: cover;
            background-color: $color-blue-dark;
            height: 5rem;
            width: 5rem;
            margin-right: 2rem; 
        }

        &-icon {

            &--1 {
                -webkit-mask: url(../img/whatsapp.svg);
                mask: url(../img/whatsapp.svg);
            }

            &--2 {
                -webkit-mask: url(../img/instagram.svg);
                mask: url(../img/instagram.svg); 
            }

            &--3 {
                -webkit-mask: url(../img/mail.svg);
                mask: url(../img/mail.svg);
            }
        }

        &-link {
            
            &:visited,
            &:link {
                text-decoration: none;
                color: currentColor;
                background-color: rgba($color-blue-dark, .4);
                padding: 1rem;
                border-radius: .5rem;
                box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, .15);
                transition: all .3s;
            }

            &:active,
            &:hover {
                background-color: $color-blue-dark;
                color: $color-yellow;
            }
        }
    }

    // &__amount {
    //     margin-bottom: 5rem;
    //     display: flex;
        
    //     &-box {
    //         display: flex;
    //         flex-direction: column;
    //         align-items: center;

    //         &:not(:last-child) {
    //             margin-right: -5rem;
    //         }
    //     }

    //     &-count {
    //         display: flex;
    //         margin-bottom: 1rem;
    //     }

    //     &-text {
    //         font-size: 2.3rem;
    //         margin-bottom: 1.5rem;

    //         &:not(:last-child) {
    //             margin-right: 1rem;
    //         }
    //     }

    //     &-order {
    //         display: flex;
    //         justify-content: center;
    //     }

    //     &-input {
    //         border: none;
    //         border: 2px solid $color-blue-dark;
    //         width: 30%;
    //         font-size: 1.8rem;
    //         text-align: center;
    //         padding: 1rem;
    //         -moz-appearance:textfield;


    //         &:focus {
    //             outline: none;
    //         }

    //         // Gets rid of the arrows
    //         &::-webkit-inner-spin-button, 
    //         &::-webkit-outer-spin-button { 
    //             -webkit-appearance: none;
    //             -moz-appearance: none;
    //             appearance: none;
    //             margin: 0; 
    //         }
    //     }

    //     &-increase,
    //     &-decrease {
    //         font-size: 1.8rem;
    //         border: 2px solid $color-blue-dark;
    //         padding: 1rem;
    //         cursor: pointer;
    //         transition: all .2s;

    //         -webkit-user-select: none;
    //         -ms-user-select: none;
    //         user-select: none;
    //     }

    //     &-increase:hover,
    //     &-decrease:hover {
    //         background-color: rgba(67, 89, 86, .2);
    //     }

    //     &-increase:active,
    //     &-decrease:active {
    //         background-color: rgba(67, 89, 86, .5);
    //     }

    //     &-increase {
    //         border-left: none;
    //     }

    //     &-decrease {
    //         border-right: none;
    //     }
    // }
}