.shop-header {
    display: flex;
    flex-direction: column;

    
}

.shop-box {

    display: flex;

    &__img {
        width: 50%;
        padding: 7rem;
        background-image: linear-gradient(
            132.5deg,
            $color-blue-dark 50%,
            $color-yellow 50%
        );
    }

    &__buy {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $color-brown;
    }

    &__flavors {
        
        display: flex;

        &-box {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: .5rem;

            &:not(:last-child) {
                margin-right: 5rem;
            }

            &:hover {
                background-color: rgba(67, 89, 86, .2);
            }
        }

        &-icons {
            height: 10rem;
            width: 10rem;
            margin-bottom: 2rem;

        }

        &-mix {
            display: flex;
        }

        &-text {
            font-size: 2rem;
        }

        &-amount {
            margin-top: 1rem;
            font-size: 2rem;
        }
    }

    &__ingredients {
        margin: 3rem 0 5rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-heading {
            font-size: 3rem;
            font-weight: 400;
        }

        &-text {
            font-size: 2rem;
            align-self: flex-start;
        }
    }

    &__amount {
        margin-bottom: 5rem;
        display: flex;
        
        &-box {
            display: flex;
            flex-direction: column;
            align-items: center;

            &:not(:last-child) {
                margin-right: -5rem;
            }
        }

        &-count {
            display: flex;
            margin-bottom: 1rem;
        }

        &-text {
            font-size: 2.3rem;
            margin-bottom: 1.5rem;

            &:not(:last-child) {
                margin-right: 1rem;
            }
        }

        &-order {
            display: flex;
            justify-content: center;
        }

        &-input {
            border: none;
            border: 2px solid $color-blue-dark;
            width: 30%;
            font-size: 1.8rem;
            text-align: center;
            padding: 1rem;
            -moz-appearance:textfield;


            &:focus {
                outline: none;
            }

            // Gets rid of the arrows
            &::-webkit-inner-spin-button, 
            &::-webkit-outer-spin-button { 
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                margin: 0; 
            }
        }

        &-increase,
        &-decrease {
            font-size: 1.8rem;
            border: 2px solid $color-blue-dark;
            padding: 1rem;
            cursor: pointer;
            transition: all .2s;

            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        &-increase:hover,
        &-decrease:hover {
            background-color: rgba(67, 89, 86, .2);
        }

        &-increase:active,
        &-decrease:active {
            background-color: rgba(67, 89, 86, .5);
        }

        &-increase {
            border-left: none;
        }

        &-decrease {
            border-right: none;
        }
    }
}