.what-is-kombucha-header {
    height: 85vh;
    color: #fff;

    display: flex;
    flex-direction: column;

    &__banner {   
        padding: 5rem 0;
        background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(../img/market.jpg);
        background-size: cover;
        background-position: bottom;

        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-weight: 700;
        text-align: center;

        @include respond(phone-small) {
            font-size: 6rem;
        }
    }

    p {
        margin-top: 3rem;
        line-height: 2;
        font-weight: 500;
        text-align: center;
        width: 50%;

        @include respond(tab-land) {
            width: 80%;
        }

        @include respond(tab-port) {
            font-size: 3rem;
        }
    }
}

.what-is-kombucha-ingredients {
    padding: 10rem 0;
    color: $color-blue-dark;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(tab-port) {
        padding: 5rem 0;
    }

    h2 {
        @include respond(phone-small) {
            text-align: center;
        }
    }

    &__paragraph {
        margin-top: 1.5rem;
        width: 60%;
        text-align: center;
        line-height: 2;

        @include respond(tab-port) {
            width: 80%;
        }
    }

    &__list {
        margin-top: 5rem;

        display: flex;

        @include respond(tab-port) {
            flex-wrap: wrap;
            justify-content: center;
        }  

        @include respond(phone) {
            padding: 0 5rem;
        }
    }

    &__item {
        list-style: none;
        margin-bottom: 5rem;
        
        display: flex;
        flex-direction: column;
        align-items: center;

        &:not(:last-child){
            margin-right: 5rem;
        }   
        
        span {
            -webkit-mask-size: cover;
            mask-size: cover;
            background-color: $color-blue-light;
            height: 13rem;
            width: 13rem;

            @include respond(phone) {
                height: 10rem;
                width: 10rem;
            }
        }
    }

    &__icon {

        &--sugar {
          -webkit-mask: url(../img/sugar.svg);  
          mask: url(../img/sugar.svg);  
        }

        &--water {
            -webkit-mask: url(../img/water.svg);  
            mask: url(../img/water.svg);
        }

        &--tea {
            -webkit-mask: url(../img/tea.svg);  
            mask: url(../img/tea.svg);
        }

        &--fruits {
            -webkit-mask: url(../img/fruits.svg);  
            mask: url(../img/fruits.svg);
        }

        &--scoby {
            -webkit-mask: url(../img/scoby.svg);  
            mask: url(../img/scoby.svg);
        }
    }

    &__text {
        font-size: 3.5rem;
        margin-top: 3rem;
    }
}

.what-is-kombucha-benefits {
    background-color: $color-blue-dark;
    color: $color-yellow;

    display: flex;

    @include respond(tab-port) {
        flex-direction: column;
    }
    
    &__box {
        padding: 5rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            width: 70%;
            text-align: center;
        }

        p {
            margin-top: 5rem;
            width: 80%;
            line-height: 2;
        }
    }

    &__img {
        background-image: url(../img/people-happy.jpg);
        background-size: cover;
        background-position: center;
        flex: 0 0 50%;

        @include respond(tab-port) {
            width: 100vw;
            height: 100vh;
            flex: initial;
        }

        @include respond(phone) {
            height: 80vh;
        }
    }
}

.what-is-kombucha-process {
    background-color: $color-blue-light;
    color: $color-brown;

    display: flex;

    @include respond(tab-port) {
        flex-direction: column;
    }
    
    &__box {
        padding: 15rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include respond(tab-port) {
            padding: 6rem 0;
        }

        h2 {
            width: 70%;
            text-align: center;

            @include respond(phone-small) {
                width: 100%;
                font-size: 4rem;
            }
        }

        p {
            margin-top: 5rem;
            width: 80%;
            line-height: 2;
        }
    }

    &__img {
        background-image: url(../img/kombucha-5.jpg);
        background-size: cover;
        background-position: center;
        flex: 0 0 50%;

        @include respond(tab-port) {
            width: 100vw;
            height: 100vh;
            flex: initial;
            order: 1;
        }

        @include respond(phone) {
            height: 80vh;
        }
    }
}

.what-is-kombucha-promo {
    padding: 2rem 5rem 5rem 5rem;
    text-transform: uppercase;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__logo {
        height: 25rem;
        width: 30rem;
        margin-bottom: 3rem;
    }

    &__text {
        text-align: center;
        font-size: 5rem;
        width: 50%;
        margin-bottom: 5rem;

        @include respond(tab-land) {
            width: 100%;
        }

        span {
            color: $color-pink;
            font-weight: 700;
        }
    }
}